on:
  pull_request: null
  push:
    branches:
      - master
      - 2.0

name: phpunit

jobs:
  phpunit:
    uses: spiral/gh-actions/.github/workflows/phpunit.yml@master
    with:
      os: >-
        ['ubuntu-latest']
      php: >-
        ['8.1', '8.2']
      stability: >-
        ['prefer-stable']
      extensions: >-
        ['pdo, pdo_sqlite, sockets, grpc']
